<h1>Por Pais</h1>
<hr>

<div class="row">
  <div class="col">
    <form action="" (ngSubmit)="buscar()">
      <input type="text"
              name="termino"
              class="form-control"
              placeholder="Buscar . . ."
              autocomplete="off"
              [(ngModel)]="termino">
    </form>
  </div>
</div>

<hr>

<div class="alert alert-danger">
  No se encontro nada con el término abc123
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Poblacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>bandera</td>
          <td>nombre</td>
          <td>1213123</td>
          <td>
            <a href="/pais/cri">Ver...</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
